$theme-colors: (
    "primary": #3EC290,
        "dark": #000000
);

@import "node_modules/bootstrap/scss/bootstrap";

.debug-light {
   border: 1px solid #520000;
 }

.debug-dark {
   border: 1px solid red;
 }

.footer_column {
  @extend .col-xl-2;
  @extend .col-md-3;
  @extend .col-6;
}

.footer_columnLink {
  display: block;
  color: rgb(128,128,128);
  margin: 10px 0;
}

.footer_columnLink:hover {
  text-decoration: none;
}

