$theme-colors: (
    "primary": #3EC290,
        "dark": #000000
);

@import "node_modules/bootstrap/scss/bootstrap";

.debug-light {
   border: 1px solid #520000;
 }

.debug-dark {
   border: 1px solid red;
 }

.specialClass {
  background-color: map-get($theme-colors, "dark");
}

.specialButton {
  color: $dark;
  font-size: 20px;
  background-color: #ff3838;
  padding: 40px;
}

